.main-content {
  display: flex;
  flex-basis: 100%;
  padding: 5rem 10rem;
  flex-flow: column;
}

.order-number {
  flex-basis: 20%;
}

.order-info {
  flex-basis: 60%;
  display: flex;
  flex-flow: row;
  /* justify-content: space-between; */
}

.confirm-orderdtl-btn.btn {
  display: flex;
  flex-basis: 20%;
  background-color: #ffb76e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 2rem;
  font-weight: bold;
  padding: 1.5rem 3rem;
}

.order-table-info {
  flex-basis: 50%;
  margin-right: 50px;
}

.billing-info {
  flex-basis: 50%;
  margin-left: 50px;
  display: block;
}

li {
  margin-right: 10px;
}

.billing-info span.info {
  display: inline-block;
  width: 10rem;
}

.billing-info-line {
  margin: 0.5rem;
}

h4 {
  text-align: left;
}
